<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dodawanie zwierzaka</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/addNewDomainObject.css">
    <link rel="stylesheet" href="/navbar.css">
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" th:href="@{/}">Hotel pod psem</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/}">Strona główna</a></li>
                <li><a href="" th:text="${'Użytkownik: ' + #httpServletRequest.remoteUser}"></a></li>
                <li>
                    <a th:href="@{/logout}">Wyloguj</a>
                </li>
                <li><a href="#" onclick="goBack()">Wróć</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gatunek
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/showAllAnimals/pies}">Psy</a></li>
                        <li><a href="#" th:href="@{/showAllAnimals/kot}">Koty</a></li>
                        <li><a href="#" th:href="@{/showAllAnimals/all}">Wszystkie</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>


<div class="image-bg">
    <div th:if="${#vars['flash.message']}" class="flash">
        <h2 th:text="${#vars['flash.message']}">Dodany</h2>
    </div>
    <div class="inputs-field">
        <div th:if="${#vars['noFreePlaceMessage']}" class="no-place-message">
            <h1 th:text="${#vars['noFreePlaceMessage']}">No free place</h1>
        </div>
        <form th:unless="${#vars['noFreePlaceMessage']}" action="#" th:action="@{/processNewAnimal}"
              th:object="${newAnimalDto}" method="post"
              enctype="multipart/form-data">
            <fieldset>
                <h1 th:if="${#vars['freePlacesExist']}" th:text="'Wolnych miejsc: ' + ${#vars['freePlacesExist']}">
                    Wolnych miejsc:</h1>
                <legend>Powiedz nam coś o swoim zwierzaku:</legend>
                <br><br>
                <tr>
                    <td>Dodaj zdjęcie:</td>
                    <td><input type="file" name="file"/></td>
                </tr>

                <input type="hidden" th:field="*{idOfAnimalThatImageBelongsTo}"/>
                <input type="hidden" th:field="*{linkToImage}"/>

                <h1>Imię:</h1>
                <input class="inputForText" type="text" th:field="*{name}"/><br>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                     class="alert alert-danger"></div>
                <br><br>

                <h1>Wiek:</h1>
                <input type="text" th:field="*{age}"><br>
                <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="alert alert-danger"></div>
                <br><br>

                <h1>Miasto:</h1>
                <input type="text" th:field="*{city}"><br>
                <div th:if="${#fields.hasErrors('city')}" th:errors="*{city}"
                     class="alert alert-danger"></div>
                <br><br>

                <h1>Stan zdrowia:</h1>
                <input th:class="inputForText" type="text" th:field="*{health}"/><br>
                <div th:if="${#fields.hasErrors('health')}" th:errors="*{health}"
                     class="alert alert-danger"></div>
                <br><br>

                <h1>Rasa:</h1>
                <input th:class="inputForText" type="text" th:field="*{race}"><br>
                <div th:if="${#fields.hasErrors('race')}" th:errors="*{race}"
                     class="alert alert-danger"></div>
                <br><br>

                <h1>Płeć:</h1>
                <input type="radio" th:field="*{sex}" name="sex" value="samiec"/>Samiec<br>
                <input type="radio" th:field="*{sex}" name="sex" value="samica"/>Samica<br>
                <div th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"
                     class="alert alert-danger"></div>
                <br><br>

                <h1>Gatunek:</h1>
                <input type="radio" th:field="*{specie}" name="specie" value="pies"/>Pies<br>
                <input type="radio" th:field="*{specie}" name="specie" value="kot"/>Kot<br>
                <div th:if="${#fields.hasErrors('specie')}" th:errors="*{specie}"
                     class="alert alert-danger"></div>
                <br><br>

                <h1>Opis:</h1>
                <textarea rowes="4" cols="70"
                          th:field="*{description}">Krótki opis - max 450 znaków</textarea><br>
                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                     class="alert alert-danger"></div>
                <br><br>
                <input th:class="acceptButton" type="submit" value="Dodaj zwierze"/>
            </fieldset>
        </form>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

</body>

</html>